extends layout 

block content
  h1= title
  hr
  ul
    each val, key in recipes
      li
        h2 #{key}
        h3 Ingredients
        ul
          each ingredient in val.ingredients
            li #{ingredient}
        h3 Instructions
        ol
          each instruction in val.instructions
            li #{instruction}
      br
      br
